* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #5f7e9c;
}

.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.nav {
    background-color: #0b093e;
    color: rgb(170, 151, 126);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #352d68;
}

.nav li:hover {
    background-color: #777;
}

.filmbox {
    width: 230px;
    height: 400px;
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(59, 49, 49, 0.514) 0px 7px 20px 0px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filmbox img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.description {
    margin-top: 0px;
}

.description h2 {
    font-size: 20px;
    color: rgb(123, 52, 52);
    margin-top: 0px;
}

.category {
    margin: 8px 0px;
    font-size: 20px;
    color: #222;
    font-weight: bold;
}

.description .rentcount {
    font-size: 15px;
    margin-bottom: 3px;
}

.description .landingFilmButton {
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(123, 52, 52);
    padding: 12px 32px;
    border-radius: 40px;
    background-color: none;
    color: rgb(123, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s linear;
}

.description .landingFilmButton:hover {
    background: rgb(123, 52, 52);
    color: #fff;
}

.home {
    background-color: rgb(239, 220, 193);
    margin: 0;
    padding-bottom: 23px;
    box-sizing: border-box;
}

.home h1 {
    background-color: rgb(123, 52, 52);
    padding: 5px;
}

.topfilms {
    display: flex;
    align-items: stretch; /*changed from center*/
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.divider {
    padding: 30px;
}

.actorbox {
    width: 230px;
    height: 150px;
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(59, 49, 49, 0.514) 0px 7px 20px 0px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topactors {
    display: flex;
    align-items: stretch; /*changed from center*/
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ActorDetails {
    display:flex;
    /*flex-direction: column;*/
}

.description .landingActorButton {
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(123, 52, 52);
    padding: 12px 32px;
    border-radius: 40px;
    background-color: none;
    color: rgb(123, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s linear;
}

.description .landingActorButton:hover {
    background: rgb(123, 52, 52);
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(123, 52, 52);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(3, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.popup-inner {
    position: relative;
}

.FilmDetails h2 {
    text-decoration: underline;
}

.FilmDetails h1 {
    font-size: medium;
    padding-left: 50px;
    padding-right: 50px;
    color:rgb(45, 5, 5)
}

.FilmDetails span {
    font-size: 14px;
    color: rgb(208, 148, 148);
}

.popup-inner .close-btn {
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(45, 5, 5);
    padding: 10px 30px;
    border-radius: 20px;
    background-color: none;
    color: rgb(123, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s linear;
}

.popup-inner .close-btn:hover {
    background: rgb(45, 5, 5);
    color: #fff;
}

.filmsPage {
    display: flex;
}

.filter {
    display: flex;
    flex-direction: column;
    background-color: rgb(200, 194, 187);
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(3, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0 0.2s;
    width: 220px;
    text-align: center;
    height: 500px;
}

.filter h2 {
    font-size: x-large;
    text-align: center;
    color: #060419;
    text-decoration: underline;
}

.filter label {
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: #1e1f3d;
    font-weight: bold;
}

.filter input {
    display: block;

    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
}

.filter .filter-btn {
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    border: none;
    background-color: rgb(49, 28, 142);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: .2s linear;
}

.filter .filter-btn:hover {
    color:#0b093e;
    background-color: #fff;
}


/*to be changed*/
.full-table-wrapper {
    max-height: 500px;
    overflow-y: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding-right: 5px;
}

.table {
  display: block;
  border-collapse: collapse;
  width: 100%;
  background-color: #060419;
}

.tr {
  display: flex;
  color: #ffffff;
}

.th {
  font-weight: bold;
  position: relative;
  color: #ffffff;
  
}

.th, .td {
  flex: 1;
  min-width: 0;
  padding: 10px;
  border: 1px solid #ffffff;
  color: rgb(170, 151, 126);
  word-wrap: break-word;
  white-space: normal;
}

.table button {
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    border: none;
    background-color: rgb(49, 28, 142);
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    transition: .2s linear;
}

.table button:hover {
    color:#0b093e;
    background-color: #b3b3b3;
}

.customersPage {
    display: flex;
}

.customer-table {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border-collapse: collapse;
    width: 100%;
}

.customer-td, .customer-th {
    border: 1px solid #ddd;
    padding: 8px;
}

.customer-tr:nth-child(even) {
    background-color: #0b093e;
    display: flex;
}

.customer-tr:nth-child(odd) {
    background-color: #1c194f;
    display: flex;
}

.customer-tr {
    color:#b0b0b0;
    transition: .2s linear;
}

.customer-tr:hover {
    background: rgb(154, 125, 125);
    color: #040318;
}

.customer-th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #040318;
    color:rgb(208, 148, 148);
    text-align: center;
}

.customer-table button {
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    border: none;
    background-color: rgb(208, 208, 208);
    color: rgb(49, 28, 142);
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    transition: .2s linear;
}

.customer-table button:hover {
    background-color: #040318;
    color: rgb(208, 208, 208);
}

.customer-details {
    justify-content: center;
    align-items: center;
}

.customer-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    overflow-y: auto;
    background-color: rgba(14, 7, 47, 0.91);
    border-radius: 15px;
    z-index: 1000;
    color: #cecece;
}

.CustomerDetails strong {
    text-decoration: underline;
}

.customer-popup-inner {
    position: relative;
}

.customer-popup-inner .close-btn {
    margin: 15px;
    padding: 5px;
    outline: none;
    color: rgb(123, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s linear;
}

.customer-popup-inner .close-btn:hover {
    background: rgb(45, 5, 5);
    color: #fff;
}

.rental-table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding-right: 5px;
}

.rental-table {
    display: block;
    border-collapse: collapse;
    width: 100%;
}

.rental-td, .rental-th {
    border: 1px solid rgb(123, 52, 52);
    padding: 8px;
}

.rental-tr:nth-child(even) {
    background-color: #d9c5b6;
    display: flex;
}

.rental-tr:nth-child(odd) {
    background-color: #d4b297;
    display: flex;
}

.rental-tr {
    color:#0f0d0d;
    transition: .2s linear;
}

.rental-tr:hover {
    background: rgb(85, 62, 62);
    color: #cbcbcb;
}

.rental-th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #180303;
    color:rgb(149, 148, 208);
    text-align: center;
}