* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #5a6496;
}

.divider {
    padding: 30px;
}

/*Included in Films.js and Customers.js*/

.filter {
    display: flex;
    flex-direction: column;
    background-color: rgb(200, 194, 187);
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(3, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0 0.2s;
    width: 220px;
    text-align: center;
    height: 500px;
}

.filmsPage .filter {
    height: 600px;
}

.filter h2 {
    font-size: x-large;
    text-align: center;
    color: #060419;
    text-decoration: underline;
}

.filter label {
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: #1e1f3d;
    font-weight: bold;
}

.filter input {
    display: block;

    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
}

.filter .filter-btn {
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    border: none;
    background-color: rgb(49, 28, 142);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: .2s linear;
}

.filter .filter-btn:hover {
    color:#0b093e;
    background-color: #fff;
}

.pagination {
    margin-top: 0;
    padding-bottom: 15px;

}

.prev-button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0px;
    background-color: #fff;
    border: #0b093e;
    text-transform: uppercase;
    transition: .2s linear;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.next-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 0px;
    text-transform: uppercase;
    transition: .2s linear;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
}

.page-buttons button:not(:disabled):hover {
    background-color: #040318;
    color: rgb(208, 208, 208);
}

/*App.js*/

.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

/*Navbar.js*/

.nav {
    background-color: #0b093e;
    color: rgb(170, 151, 126);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #352d68;
}

.nav li:hover {
    background-color: #777;
}

/*FilmCard.js*/

.filmbox {
    width: 230px;
    height: 400px;
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(59, 49, 49, 0.514) 0px 7px 20px 0px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filmbox img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.description {
    margin-top: 0px;
}

.description h2 {
    font-size: 20px;
    color: rgb(35, 8, 49);
    margin-top: 0px;
}

.category {
    margin: 8px 0px;
    font-size: 20px;
    color: #222;
    font-weight: bold;
}

.description .rentcount {
    font-size: 15px;
    margin-bottom: 3px;
}

.description .landingFilmButton {
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(14, 8, 39);
    padding: 12px 32px;
    border-radius: 40px;
    background-color: rgb(32, 13, 117);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s linear;
}

.description .landingFilmButton:hover {
    background: #746ac4;
    color: #000000;
}

/*Home.js*/

.home {
    margin: 40px;
    padding-bottom: 23px;
    box-sizing: border-box;
}

.top-films {
    padding: 0;
    margin: 0;
}

.top-films h1 {
    background-color: #0b093e;
    color: rgb(208, 148, 148);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
}

.film-cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #b0b0b0;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.top-actors {
    padding: 0;
    margin: 0;
}

.top-actors h1 {
    background-color: #22093e;
    color: rgb(208, 148, 148);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
}

.actor-cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    background-color: #b0b0b0;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.FilmDetails h2 {
    text-decoration: underline;
}

.FilmDetails h1 {
    font-size: medium;
    padding-left: 50px;
    padding-right: 50px;
    color:rgb(45, 5, 5)
}

.FilmDetails span {
    font-size: 14px;
    color: rgb(208, 148, 148);
}

/*ActorCard.js*/

.actorbox {
    width: 230px;
    height: 150px;
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(59, 49, 49, 0.514) 0px 7px 20px 0px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description .landingActorButton {
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(123, 52, 52);
    padding: 12px 32px;
    border-radius: 40px;
    background-color: none;
    color: rgb(123, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s linear;
}

.description .landingActorButton:hover {
    background: rgb(123, 52, 52);
    color: #fff;
}

/*All Popups*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/*TopFilmsPopup.js*/

.topfilms-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    background-color: rgb(123, 52, 52);
    color: rgb(31, 16, 3);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(3, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.topfilms-popup-inner strong {
    text-decoration: underline;
}

.topfilms-popup-inner {
    position: relative;
}

.topfilms-popup-inner .close-btn {
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(45, 5, 5);
    padding: 10px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: none;
    color: rgb(123, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s linear;
}

.topfilms-popup-inner .close-btn:hover {
    background: rgb(45, 5, 5);
    color: #fff;
}

/*ActorPopup.js*/

.actor-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 392px;
    background-color: rgb(123, 52, 52);
    color: rgb(31, 16, 3);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(3, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.actor-popup .close-btn {
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(45, 5, 5);
    padding: 10px 30px;
    border-radius: 20px;
    background-color: none;
    color: rgb(123, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s linear;
}

.actor-popup-inner .close-btn:hover {
    background: rgb(45, 5, 5);
    color: #fff;
}

/*FilmPopup.js*/

.film-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    background-color: rgb(123, 52, 52);
    color: rgb(31, 16, 3);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(3, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.film-popup-inner strong {
    text-decoration: underline;
}

.film-popup-inner {
    position: relative;
}

.film-popup-inner .close-btn {
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(45, 5, 5);
    padding: 10px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: none;
    color: rgb(123, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s linear;
}

.film-popup-inner .close-btn:hover {
    background: rgb(45, 5, 5);
    color: #fff;
}

/*Films.js*/

.filmsPage {
    display: flex;
}

/*FilmTable.js and CustomersTable.js*/

.table-section {
    box-shadow: rgba(59, 49, 49, 0.514) 0px 7px 20px 0px;
    background-color: rgb(146, 143, 155);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.full-table-wrapper {
    max-height: 500px;
    overflow-y: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding-right: 5px;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.tr {
    color:#cdcdcd;
    transition: .2s linear;
    display: flex;

}

.tr:nth-child(even) {
    background-color: #0b093e;
}

.tr:nth-child(odd) {
    background-color: #1c194f;

}

.tr:hover {
    background-color: rgb(154, 125, 125);
    color: #040318;
}

.th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #040318;
    color:rgb(208, 148, 148);
    text-align: center;
}

.th, .td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table button {
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    border: none;
    background-color: rgb(208, 208, 208);
    color: rgb(49, 28, 142);
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    transition: .2s linear;
}

.table button:hover {
    background-color: #040318;
    color: rgb(208, 208, 208);
}

/*Customer.js
includes filter, table-section, pagination styling from Films.js
*/

.customersPage {
    display: flex;
}

.customer-details {
    justify-content: center;
    align-items: center;
}

.customer-details strong {
    text-decoration: underline;
}

/*CustomerPopup.js*/

.customer-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    overflow-y: auto;
    background-color: rgba(14, 7, 47, 0.91);
    border-radius: 15px;
    z-index: 1000;
    color: #cecece;
}

.customer-popup-inner {
    position: relative;
}

.customer-popup-inner .close-btn {
    margin: 15px;
    padding: 5px;
    outline: none;
    color: rgb(123, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s linear;
}

.customer-popup-inner .close-btn:hover {
    background: rgb(45, 5, 5);
    color: #fff;
}

/*RentalTable.js*/

.rental-table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding-right: 5px;
}

.rental-table {
    display: block;
    border-collapse: collapse;
    width: 100%;
}

.rental-td, .rental-th {
    border: 1px solid rgb(123, 52, 52);
    padding: 8px;
}

.rental-tr:nth-child(even) {
    background-color: #d9c5b6;
    display: flex;
}

.rental-tr:nth-child(odd) {
    background-color: #d4b297;
    display: flex;
}

.rental-tr {
    color:#0f0d0d;
    transition: .2s linear;
}

.rental-tr:hover {
    background: rgb(85, 62, 62);
    color: #cbcbcb;
}

.rental-th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #180303;
    color:rgb(149, 148, 208);
    text-align: center;
}